<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME PAGES OF STUDENTS DETAILS</title>
</head>
<body>
  <form action="/save",method="post">
    StudentID:<input type="text"name="st_id"><br><br>
    StudentName:<input type="text"name="st_nm"><br><br>
    StudentEmail:<input type="text"name="st_email"><br><br>
    StudentAddress:<input type="text"name="st_add"><br><br>
    StudentClass:<input type="text"name="st_cls"><br><br>
    <input type='submit' name="SUBMIT">
  </form>

</body>
</html>